@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

body {
  font-family: 'Manrope', sans-serif;
}

:root{
  font-family: 'Manrope', sans-serif;
  --background-blue:#252F3D;
  --generic-blue: #2C7EF8;
  --stock-blue: #37465A;
  --circle-green: #85BF55;
  --button-green: #59AE43;
  --turquoise: #5BB59A;
  --generic-black: #000000;
  --username-black: #333333;
  --red: #F82C2C;
  --subtitle-gray: #4D5254;
  --separator-gray: #CFCFCF;
  --price-gray: #969696;
}


.dark-blue-medium{
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 12px;
  background-color: var(--background-blue);
  color: #FFFFFF;
}
.dark-blue-regular{
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 16px;
  background-color: var(--background-blue);
  color: #FFFFFF;
}
.white{
  background-color: #FFFFFF;
}
.titulo{
  font-family: 'Manrope';
  font-weight: 400;
  color: #000000;
  text-align: center;
  font-size: 48px;
}
.subtitulo{
  font-family: 'Manrope';
  color: #4D5254;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
}
.graybg{
  background-color: #FAFAFA;
}
.manropebold{
  font-family: 'Manrope';
  font-weight: 700;
}
.manrope-regular-20{
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 20px;
}
.manropebold-14{
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 14px;
}

.manropewhite{
  font-family: 'Manrope';
  font-weight: 700;
  color: #000000;
}
.manrope-blue-regular-32{
  font-family: 'Manrope';
  font-weight: 400;
  color: #2C7EF8;
  font-size: 32px;
}
.manrope-black-regular-32{
  font-family: 'Manrope';
  font-weight: 400;
  color: #000000;
  font-size: 32px;
}